@layer base, starlight, theme, components, utilities, svelte;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@import './app.css';

@theme {
    /* Generated accent color palettes. */
    --color-accent-200: #e3c2a1;
    --color-accent-600: #985c00;
    --color-accent-900: #4a2a00;
    --color-accent-950: #361d00;
    /* Generated gray color palettes. */
    --color-gray-100: #f7f6f5;
    --color-gray-200: #f0edeb;
    --color-gray-300: #c5c1bf;
    --color-gray-400: #918a85;
    --color-gray-500: #5d5752;
    --color-gray-700: #3d3733;
    --color-gray-800: #2b2622;
    --color-gray-900: #1a1816;
}